/**
 * @Author: wellingtonmigliari
 * @Date:   2020-03-13T15:10:58+01:00
 * @Last modified by:   wellingtonmigliari
 * @Last modified time: 2024-11-05T23:08:57+01:00
 */



/*---------------------------------------------------------------------
File Name: style.css
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
import Fonts
---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800,800i&display=swap');

/*---------------------------------------------------------------------
import Files
 ---------------------------------------------------------------------*/

@import url(font-awesome.min.css);
@import url(owl.carousel.min.css);

/*---------------------------------------------------------------------
basic
---------------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: "Avenir Next", "Avenir", sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0;
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

nav ul  {
  margin-top: 12%;
  padding-right: 3%;
  text-align: right;
}

li a {
 color: #fff;
}

li a:hover {
  color: #c37159;
}

p {
     margin: 0px;
     padding: 0;
     font-weight: 400;
     font-size: 17px;
     line-height: 28px;
}

a:hover {
  color: #c37159;
}

a {
     color: #aaa08f;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}


.language_link {
  color: #fff;
  padding-top: 20px;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}

.titlepage {
     padding-bottom: 55px;
}

.titlepage h2 {
     font-size: 45px;
     font-weight: bold;
     line-height: 55px;
     color: #a29784;
     padding-bottom: 10px;
}

.read_more {
     display: inline-block;
     background: #ffffff;
     color: #000;
     max-width: 200px;
     height: 61px;
     line-height: 61px;
     width: 100%;
     font-size: 17px;
     text-align: center;
     font-weight: 500;
     border-radius: 10px;
     transition: ease-in all 0.5s;
}

.read_more:hover {
     background: #8f1588;
     color: #fff;
     transition: ease-in all 0.5s;
}

.img_responsive {
     max-width: 100%;
}

.text_align_center {
     text-align: center;
}

.text_align_left {
     text-align: left;
}

.text_align_right {
     text-align: right;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.container {
     max-width: 1170px;
}


/*----------------------------
loader
----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 180px;
}


/*---------------------------------------------------------------------
header
---------------------------------------------------------------------*/

header {
     background: transparent;
     width: 100%;
     padding: 40px 30px;
     position: absolute;
     z-index: 9;
}


/*---------------------------------------------------------------------
menu section
---------------------------------------------------------------------*/

ul.email {
     display: flex;
     align-items: center;
     justify-content: flex-end;
}

ul.email li {
     display: inline-block;
}

ul.email li a {
     font-size: 17px;
     color: #fff;
     display: flex;
     align-items: center;
     padding-right: 60px;
}

ul.email li a i {
     font-size: 25px;
     padding-right: 10px;
}

.sidepanel {
     width: 0;
     position: fixed;
     z-index: 9999999;
     height: 100%;
     top: 0;
     left: 0;
     background-color: #ddd9d2;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
}

.sidepanel a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #fff;
     display: block;
     transition: 0.3s;
}

.sidepanel a:hover {
     color: #c37159;
}

.sidepanel a.active {
     color: #7c9484;
}

.sidepanel .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
}

.openbtn {
     cursor: pointer;
     background-color: transparent;
     color: white;
     border: none;
}


/** banner_main **/

.back-video {
  position:absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.banner_main {
     width: 100%;
     background-size: cover;
     padding-top: 110px;
     position: relative;
     /*  background-attachment: fixed;*/
     background-position: center;
}

.airmic {
     text-align: left;
}

.airmic h1 {
     color: #fff;
     font-size: 64px;
     line-height: 69px;
     font-weight: bold;
     padding-bottom: 35px;
}

.airmic p {
     color: #fff;
     line-height: 25px;
     padding-bottom: 50px;
     font-size: 17px;
}

.mic_img figure {
     margin: -70px 0px -70px 40px;
}

@media only screen and (max-width: 320px) {
  .col-md-6 .airmic h1 {
    line-height: 25px;
    font-size: 1.7rem;
    margin-bottom: -30px;
  }
}

@media only screen and (max-width: 320px) {
  .col-md-6 .airmic p {
    line-height: 25px;
    font-size: 1.5rem;
    margin-bottom: -10px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
  .col-md-6 .airmic h1 {
    line-height: 35px;
    font-size: 2.3rem;
    margin-bottom: -30px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
  .col-md-6 .airmic p {
    line-height: 35px;
    font-size: 2.1rem;
    margin-bottom: -10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 911px) {
  .col-md-6 .airmic h1 {
    line-height: 45px;
    font-size: 3.3rem;
    margin-top: -20px;
    margin-bottom: -30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 911px) {
  .col-md-6 .airmic p {
    line-height: 45px;
    font-size: 3.1rem;
    margin-top: 10px;
    margin-bottom: -10px;
  }
}

@media only screen and (min-width: 912px) and (max-width:1023px) {
  .col-md-6 .airmic h1 {
    line-height: 45px;
    font-size: 3.3rem;
    margin-top: 80px;
    margin-bottom: -30px;
  }
}

@media only screen and (min-width: 912px) and (max-width: 1023px) {
  .col-md-6 .airmic p {
    line-height: 50px;
    font-size: 3.1rem;
    margin-top: 0px;
    margin-bottom: -10px;
  }
}

@media only screen and (min-width: 1024px) {
  .col-md-6 .airmic h1 {
    line-height: 45px;
    font-size: 3.3rem;
    margin-top: -150px;
    margin-bottom: -30px;
  }
}

@media only screen and (min-width: 1024px) {
  .col-md-6 .airmic p {
    line-height: 50px;
    font-size: 3.1rem;
    margin-top: 0px;
    margin-bottom: -10px;
  }
}


/** services **/

.services {
     padding-top: 80px;
     padding-bottom: 50px;
     background: #fff;
}

.services .titlepage p {
     color: #b5b1b1;
}

.service_text h3 {
     color: #a29784;
     font-size: 25px;
     line-height: 25px;
     padding-bottom: 10px;
     font-weight: 500;
     margin-top: 40px;
}

.service_text p {
     color: #5c5c5c;
     padding-bottom: 30px;
     font-size: 15px;
     line-height: 22px;
}

.service_img {
     background: #c37159;
     border-radius: 50%;
     height: 200px;
     width: 200px;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: center;
}


/* end services */


/** about **/

.about {
     background: #f8f7f6;
     padding: 80px 0;
}

.about .titlepage {
     padding: 1% 10% 10% 10%;
     max-width: 100%;
     float: left;
     width: 100%;
}

.about .titlepage h2 {
     color: #ddd9d2;
}

.about .titlepage p {
     color: #fff;
     padding-bottom: 35px;
}

.about_img {
     padding-right: 30px;
}

.about_img figure {
     margin: 0;
}

.about_img figure img {
     border-radius: 50px;
}

.divright {
     float: right;
}


/** end about **/


/* our_mics */

.our_mics {
     background: #fff;
     padding: 80px 0 40px 0;
}

.our_mics .titlepage p {
     color: #b5b1b1;
}

.mics {
     background: linear-gradient(to bottom, #4c745c 35%, #c37159 60%);
     padding: 5px;
     border-radius: 50%;
     margin: 0 auto;
}

.mics figure {
     margin: 0;
}

.margin_bottom40 {
     margin-bottom: 40px;
}

.mics figure img {
     border-radius: 50%;
     text-align: center;
}

.mics_icon {
     opacity: 0;
     margin: 0 auto;
     position: absolute;
     top: 15px;
     text-align: center;
     left: 30px;
     right: 30px;
     bottom: 15px;
     background: #c37159;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: ease-in all 0.5s;
}


@media screen and (max-width: 280px) {
  .mics_icon {
       opacity: 0;
       margin: 12px 0px 12px 40px;
       position: absolute;
       text-align: center;
       top: 0px;
       left: 0px;
       right: 0px;
       bottom: 0px;
       background: #c37159;
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
       transition: ease-in all 0.5s;
  }
}


.mics_icon a {
     display: flex;
}

.mics_icon a {
     color: #ddd9d2 !important;
     font-size: 25px;
}

.mics_icon a:hover {
     color: #fff !important;
     transition: ease-in all 0.5s;
}

#ho_show:hover .mics_icon {
     opacity: 1;
     cursor: pointer;
     transition: ease-in all 0.5s;
}


/* end tranner */


/** testimonial **/

.testimonial {
     padding-top: 80px;
     padding-bottom: 142px;
     background: rgb(154, 20, 91);
     background: linear-gradient(62deg, rgba(145,132,110) 12%, rgba(153,142,121) 19%, rgba(170,160,143) 30%, rgba(204,198,188) 100%);
}

.testimonial .titlepage {
     padding-bottom: 20px;
}

.testimonial .titlepage h2 {
     color: #fff;
}

.testimonial .titlepage p {
     color: #fff;
}

.posi_in {
     position: inherit;
     padding: 0;
}

.testomoniam_text {
     background: #fff;
     padding: 40px 50px;
     border-radius: 70px;
     position: relative;
     margin-top: 64px;
}

.testomoniam_text::before {
     position: absolute;
     content: "";
     top: -64px;
     left: 0;
     right: 0;
     background: url(../images/test.png);
     width: 88px;
     height: 64px;
     margin: 0 auto;
}

.testomoniam_text p {
     color: #000000;
     padding: 10px 0;
     display: block;
}

#testimo .carousel-control-next,
#testimo .carousel-control-prev {
     display: none;
}

.testimonial .carousel-indicators {
     display: block;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     bottom: -60px;
}

.testimonial .carousel-indicators li {
     width: 29px;
     height: 29px;
     border-radius: 20px;
     display: inline-block;
     background-color: #ffffff;
     cursor: pointer;
}

.testimonial .carousel-indicators .active {
     background-color: #0c0909;
}


/** end testimonial **/


/** contact section **/

.contact {
     background: #f8f7f6;
     padding: 80px 0 190px 0;
}

.contact .titlepage p {
     color: #090404;
}

.main_form .contactus {
     border: inherit;
     padding: 0 15px;
     margin-bottom: 25px;
     width: 100%;
     height: 68px;
     background: #dbdada;
     color: #969494;
     font-size: 16px;
     font-weight: normal;
}

.main_form .textarea {
     border: inherit;
     margin-bottom: 25px;
     width: 100%;
     background: #dbdada;
     color: #969494;
     font-size: 18px;
     font-weight: normal;
     padding: 36px 15px 0 15px;
     border-radius: 0;
     height: 109px;
}

.main_form .send_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     height: 68px;
     line-height: 68px;
     max-width: 216px;
     width: 100%;
     display: block;
     margin-top: 10px !important;
     font-weight: 500;
     margin: 0 auto;
}

.main_form .send_btn:hover {
     background-color: #fff;
     transition: ease-in all 0.5s;
     color: #fff;
}

#request *::placeholder {
     color: #969494;
     opacity: 1;
}


/** end contact section **/


/** footer **/

.footer {
     background: #c4bdb0;
     padding-top: 90px;
     position: relative;
}

.footer::before {
     position: absolute;
     content: "";
     width: 100%;

     height: 251px;
     top: -115px;
     background-size: 100% 100%;
     background-position: center;
}

.logo_footer {
     margin-bottom: 15px;
     padding-left: 0px;
     display: block;
}

.logo_footer > img {
  width: 18%;
}


.Informa h3 {
     color: #ffffff;
     font-size: 25px;
     font-weight: bold;
     line-height: 25px;
     margin-bottom: 15px;
     margin-top: 30px;
}

.conta li {
     font-size: 15px;
     line-height: 29px;
     color: #ffffff;
}

.helpful {
     padding-top: 50px;
}

.helpful ul li {
     display: inline-block;
     padding-right: 30px;
}

.helpful ul li:last-child {
     padding-right: 0;
}

.helpful ul li a {
     text-transform: uppercase;
     color: #fff;
     font-size: 15px;
     line-height: 29px;
}

.helpful ul li a:hover {
     color: #c37159;
}

.conta ul li a {
     color: #ffffff;
}

.conta ul li a i {
     padding-right: 5px;
}

ul.social_icon {
     float: left;
     padding-top: 15px;
}

ul.social_icon li {
     display: inline-block;
     padding-right: 10px;
}

ul.social_icon li:last-child {
     padding-right: 0;
}

ul.social_icon li a {
     color: #fff;
     display: inline-block;
     text-align: center;
     line-height: 33px;
     font-size: 28px;
     font-weight: bold;
}

ul.social_icon li a:hover {
     color: #c37159;
     transition: ease-in all 0.7s;
}

.ente {
     background: #dbdada;
     color: #fff;
     border: inherit;
     padding: 0 15px;
     height: 62px;
     width: 100%;
     font-size: 17px;
}

.subs_btn {
     max-width: 127px;
     display: inline-block;
     background: #c37159;
     height: 59px;
     width: 100%;
     color: white;
     font-size: 16px;
     text-transform: uppercase;
     font-weight: normal;
     transition: ease-in all 0.5s;
     margin-top: 0px;
}

.subs_btn:hover {
     background: #446454;
     transition: ease-in all 0.5s;
}

.copyright {
     background: #ffffff;
     margin-top: 50px;
     magin-bottom: 50px;
}

.copyright p {
     color: #b3aa9a;
     font-size: 14px;
     padding: 50px 0px;
}

.copyright a {
     color: #1d1c1c;
}

.copyright a:hover {
     color: #446454;
}


/* CSS */
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Avenir Next", "Avenir", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #c37159 15%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #ddd9d2;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'CRISP';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #446454 3%, #446454 5%, #984d37 5%);
  text-shadow: -3px -3px 0px #446454, 3px 3px 0px #14442c;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}


/** end footer **/


/*- - ener page css--*/

.inner_page header {
     box-shadow: 0 -3px 12px 0px #fff;
     position: inherit;
     background: #b0ada8;
}
.inner_page .about {
     margin:80px 0 190px 0;
}
.inner_page .contact {
     padding-bottom:80px;
}
.inner_page .footer {
     margin-top: 110px;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: white;
  font-family: "Avenir Next", "Avenir", sans-serif;
  height: 70vmin;
  left: 50%;
  position: absolute;
  top: 65%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 10vmin;
  padding: 0vmin 10vmin 2vmin 2vmin;
  position: absolute;
  line-height: 8vmin;
  margin-left: 10%;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #ddd9d2;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: white;
}
.animated-title > div.text-bottom {
  bottom: 0;
  color: #ddd9d2;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

@media (min-width:0px) and (max-width:767px) {
  .animated-title {
    display: none;
  }

}


@media (min-width: 768px) and (max-width: 1112px) {

.animated-title {
  left: 100%;

}

.col-md-6 .animated-title .text-top .text-bottom span {
  font-size: 4vmin;

}

.animated-title > div div {
  font-size: 4vmin;
  padding: 2vmin 34vmin 2vmin 4vmin;
  line-height: 4vmin;
}

}

@media (min-width: 835px) and (max-width: 1024px) {

.animated-title {
  left: 95%;

}

.col-md-6 .animated-title .text-top span {
  font-size: 4vmin;

}

.animated-title > div div {
  font-size: 4vmin;
  padding: 2vmin 34vmin 2vmin 2vmin;
  line-height: 5vmin;
}

}

.burger-wrapper {
  cursor: pointer;
}
#meny {
    background: #aaa08f;
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(100%);
    top: 0;
    z-index: 1;
    transition: 0.5s;
}


#meny li {
  font-size: 35px;
}

#menyAvPaa {
    display: none;
}

#menyAvPaa:checked ~ #meny {
    transform: translateX(0rem);
}

#burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 2rem;
    top: 2.2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger > div {
    height: 5px;
    background-color: #fff;
    transition: 0.5s;
    z-index: 999;
}

#menyAvPaa:checked ~ #burger > div {
  background-color: #fff;
}

#menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}


.dados_link{
  font-size: 1.5rem;
  color: #6c8c7c;
  padding-bottom: 5%;
}

#underline-gap {
    text-decoration: underline;
    text-underline-position: under;
  }


  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #ccc;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }

  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .login-box .user-box {
    position: relative;
  }

  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: ;
    font-size: 12px;
  }

  .login-box form a {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #C46E4D;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

  .login-box a:hover {
    background: transparent;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc,
                0 0 15px #ccc,
                0 0 30px #ccc,
                0 0 50px #ccc;
  }

  .login-box a span {
    position: absolute;
    display: block;
  }

  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #C46E4D);
    animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }

  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #C46E4D);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }

  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #C46E4D);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }

  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #C46E4D);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

  button {
    background-color: #C4704C;
    color: #C4704C;
    border:none;
    padding: 10px 30px 10px 30px;
    margin: 20px;
  }

  button:hover {
    background: #C4704C;
  }

  @media screen and (max-width: 600px) {
    .login-box, input[type=submit] {
      width: 85%;
      margin-top: 0;
    }
  }

  @media screen and (min-width: 280px) and (max-width: 320px)  {
    .login-box form a  {
      padding: 0px 0px 0px 0px;
    }
    button {
      padding: 0px 0px 4px 0px;
      margin: 1px 3px 1px 3px;
    }
  }


  @media only screen and (min-width: 1px) and (max-width: 375px) {
    .login-box form a  {
      padding: 5px 0px 5px 0px;
    }
    button {
      padding: 12px 12px 12px 12px;
    }
  }

  @media only screen and (min-width: 376px) and (max-width: 390px) {
    .login-box form a  {
      padding: 5px 5px 5px 5px;
    }
    button {
      padding: 12px 12px 12px 12px;
    }
  }

  @media only screen and (min-width: 391px) and (max-width: 413px) {
    .login-box form a  {
      padding: 5px 5px 5px 5px;
    }
    button {
      padding: 12px 12px 12px 12px;
    }
  }

  @media only screen and (min-width: 414px) {
    .login-box form a  {
      padding: 5px 5px 5px 5px;
    }
    button {
      padding: 12px 12px 12px 12px;
    }
  }

  @media only screen and (max-width: 375px) {
    .login-box {
      position: absolute;
      top: 90%;
      margin-top: 160px;
    }
  }
  @media only screen and (min-width: 376px) and (max-width: 414px)  {
    .login-box {
      position: absolute;
      top: 70%;
      margin-top: 60px;
    }
  }

  @media only screen and (min-width: 414px) and (max-width: 600px)  {
    .login-box {
      position: absolute;
      top: 90%;
    }
  }

  @media only screen and (min-width: 415px) and (max-width: 720px)  {
    .login-box {
      position: absolute;
      top: 60%;
      margin-top: 180px;
    }
  }

  @media only screen and (min-width: 1024px)  {
    .login-box {
      position: absolute;
      top: 60%;
      margin-top: 280px;
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

@media (min-width: 280px) and (max-width: 300px) {
  nav ul {
    margin-top: 25%;
    padding-right: 12%;
    text-align: right;
  }
}

@media (min-width: 301px) and (max-width: 320px) {
  nav ul {
    margin-top: 23%;
    padding-right: 10%;
    text-align: right;
  }
}

@media (min-width: 321px) and (max-width: 539px) {
  nav ul {
    margin-top: 19%;
    padding-right: 9%;
    text-align: right;
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  nav ul {
    margin-top: 18%;
    padding-right: 7%;
    text-align: right;
  }
}


@media (min-width: 768px) and (max-width: 820px) {
  nav ul {
    margin-top: 13%;
    padding-right: 4%;
    text-align: right;
  }
}

@media (min-width: 912px) and (max-width: 1024px) {
  nav ul {
    margin-top: 9%;
    padding-right: 3.5%;
    text-align: right;
  }
}

@media (min-width: 1025px) {
  nav ul {
    margin-top: 9%;
    padding-right: 2.8%;
    text-align: right;
  }
}

#myBtn_1 {
  display: inline;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #14442c;
  color: #ddd9d2;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 4px;
  opacity: 0.6;
}

#myBtn_1:hover {
  background-color: #555;
}




.fh5co-bg-section {
  background: #bcc2ba;
}

#fh5co-services,
#fh5co-started,
#fh5co-testimonial,
#fh5co-started,
#fh5co-product,
#fh5co-about,
#fh5co-contact,
#fh5co-footer {
  padding: 10em 0;
  clear: both;
}

#fh5co-product{
  background: #fff;
}

@media screen and (max-width: 768px) {
  #fh5co-services,
  #fh5co-started,
  #fh5co-testimonial,
  #fh5co-started,
  #fh5co-product,
  #fh5co-about,
  #fh5co-contact,
  #fh5co-footer {
    padding: 3em 0;
  }
}


@media screen and (max-width: 280px) {
   .row.display-t.display-tc.animate-box {
    margin-right: 20px;
    margin-left: 20px;
  }
}


.js .animate-box {
  opacity: 0;
}

@media (min-width:540px) and (max-width:820px) {
  ol.col-md-12 .text-left .animate-box .product .publicacoes{
    margin-left: 100px;
    margin-top: 100px;
  }
}



.fh5co-heading {
  margin-bottom: 2em;
  padding-top: 30px;
}
.fh5co-heading.fh5co-heading-sm {
  margin-bottom: 2em;
}
.fh5co-heading h2 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}
.fh5co-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}
.fh5co-heading span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Titillium Web", Arial, sans-serif;
}


#fh5co-started .fh5co-heading h2 {
  color: #fff;
  margin-bottom: 20px !important;
}

#fh5co-started .fh5co-heading p {
  color: rgba(255, 255, 255, 0.6);
}


#fh5co-services,
#fh5co-started,
#fh5co-testimonial,
#fh5co-started,
#fh5co-product,
#fh5co-about,
#fh5co-contact,
#fh5co-footer {
  padding: 10em 0;
  clear: both;
}

#fh5co-product{
  background: #fff;
}


.product {
  margin-bottom: 40px;
}
.product .product-grid {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  height: 350px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product .product-grid .sale {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 100;
  background: #cf8d7a;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.product .product-grid .inner {
  display: table;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .product .product-grid .inner {
    opacity: 1;
    background: transparent;
  }
}
.product .product-grid .inner p {
  display: table-cell;
  vertical-align: middle;
}
.product .product-grid .inner p .icon {
  padding: 7px 10px;
  color: #fff;
  background: #cf8d7a;
}
.product .product-grid .inner p .icon:hover, .product .product-grid .inner p .icon:focus {
  color: #cf8d7a;
  background: #fff;
}
.product .desc h3 {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 24px;
}
.product .desc-2 h3 {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 24px;
}
.product .desc h3 a {
  color: #000;
}
.product .desc-2 h3 a {
  color: #5A7C6B;
}
.product .desc .price {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.product .desc-2 h3 a {
  color: #5A7C6B;
}
.product .desc-2 .price {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.product:hover .product-grid, .product:focus .product-grid {
  -webkit-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
}
.product:hover .inner, .product:focus .inner {
  opacity: 1;
}
.product:hover .desc h3 a, .product:focus .desc h3 a {
  color: #cf8d7a;
}

.product:hover .desc-2 h3 a, .product:focus .desc-2 h3 a {
  color: #cf8d7a;
}

.product-carousel {
  margin-bottom: 7em;
}

@media screen and (max-width: 280px) {
  .product.publicacoes {
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media screen and (max-width: 414px) {
   .product.publicacoes h3 {
    font-size: 18px;
  }

  h3 {
    line-height: 15px;
  }
}


 @media (min-width: 281px) and (max-width: 414px){
   .row.product {
     margin-left: 20px;
     margin-right: 40px;
   }
 }

 @media (min-width:540px) and (max-width:767px){
  .row.product {
    margin-left: 50px;
    margin-right: 80px;
  }
}

@media (min-width:768px) and (max-width:820px){
  .row.product {
   margin-left: 190px;
   margin-right: 250px;
 }
}

@media (min-width:821px) and (max-width:912px){
  .row.product {
   margin-left: 180px;
   margin-right: 220px;
 }
}


@media screen and (min-width:913px) {
  .row .product {
   margin-left: 0px;
   margin-right: 0px;
 }
}

@media (min-width:913px) and (max-width:1366px){
.product.product-grid {
   height: 330px;
 }
}


@media (min-width:540px) and (max-width:820px) {
  ol.col-md-12 .text-left .animate-box .product .publicacoes{
    margin-left: 100px;
    margin-top: 100px;
  }
}


@media screen and (max-width: 281px){
  .desc {
    display: inline-block;
  }


  #fh5co-hero .flexslider .slider-text > .slider-text-inner {
    display: table-cell;
    vertical-align: top;
    min-height: 700px;
    padding-top: 80px;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  @media screen and (max-width: 768px) {
    #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
      font-size: 40px;
    }
  }

  @media screen and (min-width: 1920px) {
    #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
      display: table-cell;
      vertical-align: middle;
      min-height: 700px;
      padding-top: 100px;
    }
  }

  #fh5co-hero .flexslider .slider-text > .slider-text-inner .desc {
    background: #cf8d7a;
    padding: 40px;
    margin-left: 40px;
    margin-top: 0px;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .desc .price {
    font-size: 14px;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 20px;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .desc-2 {
    background: #cf8d7a;
    padding: 40px;
    margin-left: 40px;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .desc-2 .price {
    font-size: 14px;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 20px;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .btn {
    font-size: 18px;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead {
    font-size: 20px;
    color: #fff;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead .icon-heart {
    color: #d9534f;
  }


  @media screen and (max-width: 281px){
    .desc {
      display: inline-block;
    }

    #fh5co-hero .flexslider .slider-text > .slider-text-inner .desc h2 {
        font-size: 13px;
    }

    #fh5co-hero .flexslider .slider-text > .slider-text-inner .desc p {
        font-size: 12px;
    }

   #fh5co-hero .flexslider .slider-text > .slider-text-inner .desc {
        padding: 10px;
        margin-left: 45px;
        margin-top: -67px;
        margin-right: -14px;
    }

  }


  @media (min-width:282px) and (max-width: 540px){
    .desc {
      display: inline-block;
    }

    #fh5co-hero .flexslider .slider-text > .slider-text-inner .desc h2 {
        font-size: 13px;
    }

    #fh5co-hero .flexslider .slider-text > .slider-text-inner .desc p {
        font-size: 13px;
    }

   #fh5co-hero .flexslider .slider-text > .slider-text-inner .desc {
        padding: 20px;
        margin-left: 70px;
        margin-top: -40px;
        margin-right: -14px;
    }

  }

  @media screen and (min-width: 540px){
    .desc {
      display: inline-block;
    }

    #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
        font-size: 20px;
    }

    #fh5co-hero .flexslider .slider-text > .slider-text-inner p {
        font-size: 15px;
    }

    #fh5co-hero .flexslider .slider-text > .slider-text-inner img {
        margin-left: 0px;
    }

   #fh5co-hero .flexslider .slider-text > .slider-text-inner .desc {
        padding: 30px;
        margin-left: 70px;
        margin-top: -40px;
        margin-right: 20px;
    }

  }


   @media (min-width: 768px) and (max-width: 819px) {
     .slider-text-inner.desc. h2 p {
       font-size: 15px;
     }
     #fh5co-hero .flexslider .slider-text > .slider-text-inner .desc {
      background: #cf8d7a;
      padding: 40px;
      margin-left: 90px;
      margin-top: 0px;
     }
   }
